* {
  box-sizing: border-box;
  color: inherit;
  list-style: none;
}

html {
  font-family: $primary-font;
  font-weight: $regular-weight;
}

.title {
  text-align: center;
  color: $primary-color;
}

.cards {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pokemon {
  border: 3px solid $dark-color;
  border-radius: 30px;
  width: 225px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding-bottom: 15px;
  background-color: $primary-color;
}

.pokemon__description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: $bold-weight;
  color: $light-color;
  text-transform: uppercase;
}
.pokemon__types {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.pokemon__types__li {
  margin: 10px;
  padding: 5px;
  color: white;
  background-color: rgb(74, 24, 24);
  border: 1px solid $primary-color;
  border-radius: 8px;
}

.pokemon__img__container {
  width: 225px;
  height: 225px;
  border: 3px solid $dark-color;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url(https://i.ebayimg.com/images/g/CLAAAOxyRhBSq3b5/s-l300.jpg);
}

.pokemon__img {
  width: 100%;
}
